.slider__dots__item {
  margin: 10px;
  background-color: #ccc;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.slider__dots__item--active {
  background-color: teal;
  width: 8px;
  height: 8px;
}

.slider__dots__item:not(.slider__dots__item--active):hover {
  transform: scale(1.5);
}